.ui.secondary.menu {
    font-family: 'Amiri', serif;
}
.ui.positive.button{
    font-family: 'Amiri', serif;
    color: black;
    background-color: white;
}
.ui.card.width{
    font-family: 'Amiri', serif;
    width: 270px;
    height: 365px;
}
.ui.green.basic.button{
    border-radius: 36px;
    width: 20px;
}
.ui.red.basic.button{
    border-radius: 36px;
    width: 20px;
}
.ui.mini.form{
    width: 800px;
    margin-right: 13%;
    margin-top: 7%;
}
.ui.button{
    font-family: 'Amiri', serif;
    color: white;
    background-color: #5a227e;
}
.ui.input{
    background-color: #f8f8f8;
}